
<h3 class="titPages2">GALERIA DE PRODUCTOS</h3>
<section class="section-page2">
    <div class="linksPages2">
        <a href="/productos">TODOS</a>
        <a href="/hombre/1">HOMBRE</a>
        <a href="/mujer/1">MUJER</a>
        <a href="/ninos/1">NIÑOS</a>
        <a href="/ofertas/1">OFERTAS</a>
        <a href="/antiblue/1">ANTI BLUE</a>
    </div>
    <h5 class="muestra-mensaje-footer"> <%=Mensaje %> </h5>
        <div class="contenedorPadre">
            <% for (let i=0; i < datos.length; i++) { %>
                <div class="tarjetaPage2">
                    <img src="<%=datos[i].image[0] %>" class="imgPages2" alt="<%=datos[i]._id %>">
                    <div class="textoTarjetasPages2">
                        <div class="contenedorTextoPage2">
                            <p class="textoPages2"> <%=datos[i].trademark.toUpperCase() %> </p>
                            <p class="textoPages2"><b>$ <%=datos[i].price.toLocaleString('es-ES',{minimumFractionDigits: 2,
                                maximumFractionDigits: 2}) %></b></p>
                        </div>  
                        <button class="btn-page2">ENVIAR AL CARRITO</button>
                    </div>
                </div>  
            <% } %>
        </div>

        <div class="siguientePage2">
            <% if(page==1){ %>
                <a href="#" class="btn-sgte-page2" style="pointer-events: none; cursor: not-allowed; opacity: 0.5;"><i class="bi bi-chevron-left iconSiguientePage2"></i></a>
            <%}else { %>
                <a href="/productos/<%= parseInt(page) - 1 %>" class="btn-sgte-page2"><i class="bi bi-chevron-left iconSiguientePage2"></i></a>
            <% } %>
                          
            <p> <%= page %> de <%= pages %> </p>

            <% if(page >= pages) { %>
                <a href="#" class="btn-sgte-page2" style="pointer-events: none; cursor: not-allowed; opacity: 0.5;"><i class="bi bi-chevron-right iconSiguientePage2"></i></a>
            <%}else { %>
                <a href="/productos/<%= parseInt(page) + 1 %>" class="btn-sgte-page2"><i class="bi bi-chevron-right iconSiguientePage2"></i></a>
            <%} %>
            
        </div>  
   
   
</section>